<div class="page-header">
<h2><span class="glyphicon glyphicon-star" aria-hidden="true"></span>New Event Posting</h2>
</div>

<div class="well">
  <%= render 'form' %>


<%= link_to 'Back', posts_path %>
</div>
